<!--========================= footer start =========================-->
<footer class="footer bg-primary position-relative zindex-1 pt-5 mt-lg-5 bg-contain" style="background-image: url('../images/shape/bg-shape-3.svg');">
  <div class="position-absolute bg-shape-top w-100">
    <svg class="position-absolute w-100 h-100 start-0" width="1600" height="91" viewBox="0 0 1600 91" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0.000244141 39.4601C0.000244141 39.4601 262.238 88.1148 470.5 39.4602C713.166 -17.2319 847.435 -8.91051 1055 39.46C1239.06 88.9028 1409.73 79.3569 1600 39.46L1600 90.503L0 90.503L0.000244141 39.4601Z" fill="#000"/>
      </svg>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-8 mx-auto text-center pb-5">
        <h2 class="text-white mb-3">Download the brunch of landing pages</h2>
        <p class="text-light-100 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Morbi egestas Werat
          viverra id et aliquet. vulputate </p>
        <a href="#" class="btn btn-secondary btn-lg fw-medium">Download The Theme</a>
      </div>
    </div>

    <div class="border-top"></div>
    <div class="row  py-5 gy-5 gy-lg-0  mt-lg-0 position-relative">
      <div class="col-lg-3 col-md-6">
        <a href="index.html">
          <img src="images/logo-white.png" alt="logo-img" class="mb-4">
        </a>
        <p class="text-light">Lorem ipsum dolor sit sed dmi amet, consectetur adipiscing. Cdo tellus,
          sed condimentum volutpat. </p>
      </div>
      <div class="col-lg-3 col-sm-6 ps-xl-5">
        <div class="mb-3">
          <h5 class="mb-4 text-white">Socials</h5>
          <a href="mailto:themefisher@gmail.com" class="text-light fs-6">themefisher@gmail.com</a>
        </div>
          <ul class="list-unstyled social-icons">

            <li class="list-inline-item">
              <a href="https://facebook.com/themefisher"><i class="fab fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/themefisher"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#!"><i class="fab fa-linkedin"></i></a>
            </li>
            <li class="list-inline-item">
              <a href="#!"><i class="fab fa-skype"></i></a>
            </li>
          </ul>

      </div>
      <div class="col-lg-3 col-sm-6 ps-lg-5">
          <h5 class="mb-4 text-white">Quick Links</h5>

          <ul>
            <li>
              <a href="/">home</a>
            </li>
            <li>
              <a href="about.html">about</a>
            </li>
            <li>
              <a href="blog.html">blog</a>
            </li>
            <li>
              <a href="contact.html">contact</a>
            </li>
          </ul>
      </div>
      <div class="col-lg-3 col-md-6">
          <h5 class="mb-4 text-white">Location & Contact</h5>
          <p class="text-light">2118 Thornridge Cir. Syracuse, Connecticut 35624</p>
          <a href="tel:(704) 555-0127" class="text-light">(704) 555-0127</a>
      </div>
    </div>

    <div class="border-top"></div>
    <div class="row position-relative">
      <div class="col-12 copyright text-center py-4">
        <p class="text-light-200 ">Designed By <a href="#">Themefisher</a>, Developed by <a href="#">Gethugothemes</a></p>
      </div>
    </div>
  </div>
</footer>
<!--========================= footer end =========================-->