<header class="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light p-0">
      <a class="navbar-brand" href="/">
        <img src="images/logo.png" alt="logo-img">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blog.html">blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="case-studies.html">case-studies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              pages
            </a>
            <ul class="dropdown-menu px-3" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="blog-single.html">blog-single</a></li>
              <li><a class="dropdown-item" href="case-studies-details.html">case-studies-details</a></li>
              <li><a class="dropdown-item" href="term-condition.html">term & condition</a></li>
              <li><a class="dropdown-item" href="changelog.html">changelog</a></li>
              <li><a class="dropdown-item" href="sign-in.html">sign-in</a></li>
              <li><a class="dropdown-item" href="sign-up.html">sign-up</a></li>
            </ul>
          </li>
        </ul>

        <div class="ps-4 ps-lg-0 pb-4 pb-lg-0">
          <a href="sign-up.html" class="btn btn-primary">Sign Up Now</a>
        </div>
      </div>
    </nav>
  </div>
</header>
