<!--========================= page-header start =========================-->
<section class="page-header position-relative zindex-1">
  <div class="container">
    <div class="row position-relative">

      <div class="col-12 text-center">
        <h1 class="page-title position-relative text-uppercase">
          @@page-title position-relative mb-3 
          <span class="title-bg position-absolute d-flex align-items-center justify-content-center w-100 top-0 fw-bold text-capitalize">@@title</span>
        </h1>
      </div>

        <div class="dot dot-1 rounded-circle bg-success"></div>
        <div class="dot dot-2 rounded-circle bg-warning"></div>
        <div class="dot dot-3 rounded-circle bg-danger"></div>
        <div class="dot dot-4 rounded-circle bg-info"></div>
        <div class="dot dot-5 rounded-circle bg-success"></div>
        <div class="dot dot-6 rounded-circle bg-warning"></div>
        <div class="dot dot-7 rounded-circle bg-danger"></div>
        <div class="dot dot-8 rounded-circle bg-info"></div>

    </div>
  </div>
</section>
<!--========================= page-header start =========================-->